In [35]:
import numpy as np
import pandas as pd

### Task 0

- Написать функцию, которая принимает на вход произвольное число Iterable и "спрямляет" их в один Iterable (убирает вложенность итерируемых объектов)  
Функция должна возвращать генератор

f([a1,a2,..], [b1], [c1,c2,..],..) -> (a1, a2,...,b1,c1,c2,....)

In [36]:
init_list = [['apple'], ['banana', 'mango']]
post_processed_list = ['apple', 'banana', 'mango']

In [37]:
def getRectifiableListGenerator(data):
    yield [item for array in data for item in array]

rectifiableListGenerator = getRectifiableListGenerator(init_list)
next(rectifiableListGenerator)

['apple', 'banana', 'mango']

- Написать функцию, которая принимает dict[key, Iterable] и "спрямляет" его в один Iterable кортежей (key, value)  
Функция должна возвращать генератор 

{'a':[1], 'b':[2,3], 'c':[]} -> (('a',1), ('b',2), ('b',3))

In [38]:
init_dict = {'a':[1], 'b':[2,3], 'c':[]}
post_processed_sequence = [('a',1), ('b',2), ('b',3)]

In [39]:
def getRectifiableTuplesGenerator(data):
    yield [(key, value) for (key, array_values) in data.items() for value in array_values]

rectifiableTuplesGenerator = getRectifiableTuplesGenerator(init_dict) 

next(rectifiableTuplesGenerator)

[('a', 1), ('b', 2), ('b', 3)]

- Написать функцию `project`, которая принимает первым аргументом dict и вторым список ключей и делает срез словаря по данному списку 
Функция должна возвращать словарь (если список не предоставлен, возвращает словарь как есть)

f({'a':[1], 'b':[2,3], 'c':[8]}, ['a', 'c']) -> {'a':[1], 'c':[8]}

In [40]:
def project(*args):
    result = {}
    if (len(args) == 1 and isinstance(args[0], dict)):
        return args[0]
    if (len(args) == 2 and isinstance(args[0], dict) and isinstance(args[1], list)):       
        for key in args[1]:
            if (key in fruits.keys()):
                result.update({key: args[0].get(key)})
    return result

In [41]:
fruits = {'apple': 1, 'banana': 2}

project(fruits, ['apple']) == {'apple': 1},\
project(fruits, []) == {},\
project(fruits) == {'apple': 1, 'banana': 2},\
project(fruits, ['mango']) == {}

(True, True, True, True)

- Написать декоратор, который подсчитывает время работы функции и выводит его в консоль после её выполнения

In [42]:
import time
    
def timeDecorator(function):
    def wrapper():
        time_before = time.time()
        function()
        print('function worked: ', (time.time() - time_before))
    return wrapper

@timeDecorator
def sleepy_func():
    time.sleep(3)

In [43]:
sleepy_func()

function worked:  3.0000741481781006

### Task 1

Написать функцию, которая принимает на вход список строк и делает следующее преобразование:


Для строк на нечётных позициях в списке удаляет любые символы кроме цифр,
для строк на чётных позициях оставляет всё, кроме цифр

In [44]:
init_list = ['abc123', '456def', 'x7y9z8','__0(())_0_']
post_processed_list = ['123', 'def', '798','__(())__']

Убедиться, что на приведённом примере функция работает корректно

In [45]:
# Решение

def getTransformData(list):
    result = []
    index = 1

    for item in list:
        new_item = ''
        if (index%2!=0):
            for sym in item:
                if (sym >= '0' and sym <= '9'):
                    new_item = new_item + sym
        else:  
            for sym in item:
                if (sym < '0' or sym > '9'):
                    new_item = new_item + sym
        result.append(new_item)
        index = index + 1 
    return result

proc_list = getTransformData(init_list)
proc_list

['123', 'def', '798', '__(())__']

### Task 2

Даны 2 бинарных датафрейма, в которых представлены истинные и прогнозные лейблы соответственно для задачи Multilabel-классификации

По строкам - наблюдения (4), по столбцам - классы (3)

In [46]:
df_fact = np.array([[1,1,0],[1,0,0],[0,0,0],[0,1,1]])
df_pred = np.array([[0,1,0],[1,0,1],[0,0,1],[1,0,1]])

display(df_fact)
display(df_pred)

array([[1, 1, 0],
       [1, 0, 0],
       [0, 0, 0],
       [0, 1, 1]])

array([[0, 1, 0],
       [1, 0, 1],
       [0, 0, 1],
       [1, 0, 1]])

Написать блок кода, который будет рассчитывать Macro-recall для такого представления данных и прогноза

Вычислить значение на данном примере

In [47]:
# Решение

def getMacroRecall(df_fact, df_pred):
    if (np.shape(df_fact) != np.shape(df_pred)):
        return 'Invalid data'
    
    recall_values = []
    count_classes = np.shape(df_fact)[1]
    count_observations = np.shape(df_fact)[0]

    for i in range(count_classes):
        tp = 0
        fn = 0 
        for j in range(count_observations):
            if (df_pred[j][i] == 1 and df_fact[j][i] == 1):
                tp = tp + 1
            else: 
                if (df_pred[j][i] == 0 and df_fact[j][i] == 1):
                    fn = fn + 1
        recall_values.append(tp/(tp+fn))
    return sum(recall_values)/len(recall_values)  

getMacroRecall(df_fact, df_pred)

0.6666666666666666

Сравнить с реализацией в sklearn

In [48]:
# Решение

from sklearn.metrics import recall_score
recall_score(df_fact, df_pred, average='macro')

0.6666666666666666

In [49]:
# Вывод: значения совпадают

###  Task 3

Заданы 2 датафрейма

df_sales (продажи товаров пользователям), описывается полями [user_id,month,item_id,amount]

df_features (фичи по пользователям), описывается полями [user_id,month,feature]

In [50]:
Lu, Lt = 10000, 24

product_line = list('abcdef')
timeline = [i+1 for i in range(Lt)]
users = ['user_' + str(i) for i in range(Lu)]

df_hist_size = 1000

np.random.seed(8)
df_sales = pd.DataFrame({'user_id':np.random.choice(users, size = df_hist_size, replace = True),
                        'month':np.random.choice(timeline, size = df_hist_size, replace = True),
                        'item_id':np.random.choice(product_line, size = df_hist_size, replace = True),
                        'amount':np.random.choice([1,2,3], size = df_hist_size, replace = True)
                       })

df_features = pd.DataFrame({k:v.flatten() for k,v in zip(['user_id', 'month'],
                                                         np.meshgrid(users, [t-1 for t in timeline]))})
df_features['feature'] = np.random.normal(size = Lu*Lt)

display(df_sales.sample(5))
display(df_features.sample(5))

       user_id  month item_id  amount
52   user_4838     21       d       3
410  user_8027     12       c       1
450  user_8850     20       e       3
89   user_2764     18       f       1
279  user_5509     17       f       2

          user_id  month   feature
64725   user_4725      6  1.826208
98605   user_8605      9  0.608446
170830   user_830     17 -2.237801
149206  user_9206     14  1.399612
151054  user_1054     15  1.757493

Найти такие 2 товара, которых было продано меньше остальных за последние два месяца.

In [51]:
# Последние два месяца = 23 и 24 месяца

worstGoods = df_sales\
    .loc[df_sales['month'] > 22]\
    .groupby('item_id')['amount']\
    .sum().sort_values().index\
    .to_list()[0:2]

worstGoods

['b', 'e']

Найти тех пользователей, которые когда-либо покупали один из этих товаров в любом количестве, и для каждого факта покупки в некоторый месяц подтянуть фичу пользователя за предыдущий месяц.

Сохранить минимальную структуру [user_id item_id feature]

In [52]:
df_sales_new = df_sales
df_sales_new['month'] = df_sales['month'].apply(lambda x: x-1)


result = pd.merge(
            df_sales_new.loc[(df_sales_new['item_id'] == worstGoods[0]) | (df_sales_new['item_id'] == worstGoods[1])], 
            df_features,
            how='inner', on=['user_id', 'month'])
result[{'user_id', 'item_id', 'feature'}]

    item_id    user_id   feature
0         b  user_8812  0.912850
1         e  user_6025  0.620635
2         b  user_9277 -0.363418
3         e  user_6287  0.563285
4         b  user_5469 -0.186931
..      ...        ...       ...
313       b  user_4728 -1.659606
314       e  user_5172  1.625212
315       e  user_9268 -0.391100
316       b  user_1314 -0.310380
317       b  user_1532 -0.806761

[318 rows x 3 columns]

Выяснить, существуют ли пользователи, которые покупали и тот и другой товар хотя бы раз за всё время

In [53]:
len(pd.merge(
        df_sales.loc[df_sales['item_id'] == worstGoods[0]], 
        df_sales.loc[df_sales['item_id'] == worstGoods[1]], 
        how='inner', on=['user_id'])) != 0

True

Выяснить, существует ли статистически значимая разница между распределениями фичами пользователей, которые покупают первый или второй товар

In [54]:
# Установлю уровень значимости в размере 5%

import scipy as sc

features_buyers_goods_b = pd.merge(
            df_sales.loc[(df_sales_new['item_id'] == worstGoods[0])], 
            df_features,
            how='inner', on=['user_id', 'month'])['feature']

features_buyers_goods_e = pd.merge(
            df_sales.loc[(df_sales_new['item_id'] == worstGoods[1])], 
            df_features,
            how='inner', on=['user_id', 'month'])['feature']

In [55]:
def getStandardError(sample_one, sample_two):
    var_one = sample_one.std()**2
    var_two = sample_two.std()**2
    return np.sqrt(var_one/len(sample_one) + var_two/len(sample_two))

In [56]:
def getZetStatistic(sample_one, sample_two): 
    return (sample_one.mean() - sample_two.mean())/getStandardError(sample_one, sample_two)

In [57]:
def getValueP(sample_one, sample_two): 
    return sc.stats.norm.cdf([ getZetStatistic(sample_one, sample_two) ])

In [58]:
print('p-значение:  ', getValueP(features_buyers_goods_b, features_buyers_goods_e))

p-значение:   [0.85835377]

In [59]:
# Вывод: статистически значимой разницы нет.